<head>
    <style>
        #h1 {
            color: blue;
            font-size: 80px;
            text-align: center;
        }

        #h2 {
            color: red;
            font-size: 50px;
            border: 7px solid black;
            margin-top: 45px;
            border-radius: 25px;
            ;
            padding-top: 25px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
        }
    </style>
</head>

<h1 id="h1">Welcome Here</h1>

<h1 id="h2">Here you can edit post ,create post and see all of your posts</h1>
<!--<div class="row">


    <form action="/admin/generate-fake-posts" method="post">

        <h1>Generate Posts</h1>
        <div class="form-group">

            <input name="amount" type="number" class="form-control">

        </div>


        <button type="submit" class="btn btn-dark">Generate</button>

    </form>


</div>-->
<div class="row">

    <canvas id="mychart"></canvas>
</div>